/* This specifically asks for 400 and 700 ONLY, no range */
@import "tailwindcss";
/* .jobs-list {
  @apply pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50;
} */
@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
}

/* Font padding fix for Noto Sans */
h1::first-letter {
  margin-left: -0.05em;
}

.nav ul li a {
  @apply flex py-3;
}
.nav ul li a span {
  @apply text-sm font-bold uppercase tracking-widest text-slate-500 hover:text-slate-200 focus-visible:text-slate-200;
}

main section {
  @apply mb-16 max-w-2xl;
}

main > section > h2 {
  @apply text-lg font-bold uppercase tracking-widest text-slate-200 sticky top-0 z-20 -mx-6 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:pt-0;
}

main > section > p {
  @apply mb-4;
}

p a {
  @apply font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300;
}

main section > ul > li {
  @apply mb-8 pb-8;
  border-bottom: 2px solid;
}

main section > ul > li:last-child {
  @apply mb-0 pb-0;
  border-bottom: none;
}

.info-unit > header {
  @apply z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500;
}

.info-unit > h3 {
  @apply font-medium leading-snug text-slate-200;
}

.info-unit > h4 {
  @apply mt-2 font-normal leading-snug text-sm text-slate-400;
}

.info-unit > p {
  @apply mt-2 text-sm leading-normal;
}

.tech-list {
  @apply mt-2 flex flex-wrap;
}

.tech-list > li {
  @apply mr-1.5 mt-2;
  @apply flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300;
}

.image-list {
  @apply mt-6 flex flex-wrap gap-4;
}

.image-list > li > img {
  @apply h-36 rounded-lg border-2 border-slate-200/50;
}

.image-list > li > img.no-border {
  @apply border-none;
}

h3 > a {
  @apply relative inline-flex items-center hover:text-teal-300 focus-visible:text-teal-300;
}

h3 > a::after {
  @apply ml-1 h-4 w-4;
  background-size: 100%;
  background-image: url("assets/img/external-link.svg");
  content: "";
}

#skills ul {
  @apply mb-6;
}
