:root {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Audiowide", ui-sans-serif, system-ui, sans-serif;
  --font-weight-semibold: 600;
  --leading-tight: 1.2;
  --leading-relaxed: 1.7;
  --spacing: 0.25rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-xl: 1.25rem;
  --tracking-relaxed: 0.1em;

  --color-primary: #0b3142;
  --color-secondary: #bdb3b8;
  --color-secondary-bright: #f4f2f3;
  --color-accent: #ff7060;

  /* Alternative colors */

  /*
  --color-primary: #000000;
  --color-secondary: #169976;
  --color-secondary-bright: #1dcd9f;
  --color-accent: #1dcd9f;
  */

  /*
  --color-primary: #26355d;
  --color-secondary: #ff8f00;
  --color-secondary-bright: #ffdb00;
  --color-accent: #acd2ed;
  */

  /*
  --color-primary: #22092c;
  --color-secondary: #be3144;
  --color-secondary-bright: #f05941;
  --color-accent: #f05941;
  */

  /*
  --color-primary: #003399;
  --color-secondary: #ffffff;
  --color-secondary-bright: #b3b3b3;
  --color-accent: #dd9f00;
  */

  --color-secondary-50: color-mix(
    in srgb,
    var(--color-secondary) 50%,
    transparent
  );
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-sans);
  margin-inline: auto;
  max-width: 80rem;
  min-height: 100vh;
  padding: calc(var(--spacing) * 6);

  @media (width >= 48rem) {
    padding: calc(var(--spacing) * 12);
  }

  @media (width >= 64rem) {
    display: flex;
    gap: calc(var(--spacing) * 4);
    justify-content: space-between;
    padding-block: calc(var(--spacing) * 0);
    padding-inline: calc(var(--spacing) * 16);
  }

  & *::selection,
  &::selection {
    background-color: color-mix(in srgb, var(--color-accent) 75%, transparent);
    color: var(--color-primary);
  }
}

h1,
h2,
h3,
nav {
  font-family: var(--font-heading);
}

h1,
h2,
h3,
h4,
a {
  color: var(--color-secondary-bright);
}

h2,
h3 {
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-relaxed);
  text-transform: uppercase;
}

h3 {
  color: var(--color-secondary);
  font-size: var(--text-sm);
}

h4 {
  font-weight: var(--font-weight-semibold);
}

p {
  line-height: var(--leading-relaxed);
}

/* Header Styles */

body > header {
  @media (width >= 64rem) {
    max-height: 100vh;
    padding-block: calc(var(--spacing) * 24);
    position: sticky;
    top: calc(var(--spacing) * 0);
    width: 40%;
  }

  & > h1 {
    font-size: 2.25rem;
    line-height: var(--leading-tight);
    margin-bottom: calc(var(--spacing) * 4);

    @media (width >= 48rem) {
      font-size: 3rem;
    }

    &::first-letter {
      /* Font padding fix */
      margin-left: -0.03em;
    }
  }

  & > p {
    margin-bottom: calc(var(--spacing) * 1);
  }

  & > .photo {
    width: 10rem;
    margin-left: calc(var(--spacing) * 16);
    margin-top: calc(var(--spacing) * 8);

    & > img {
      border-radius: 100%;
      border: 8px solid
        color-mix(in srgb, var(--color-secondary) 20%, transparent);
    }
  }
}

nav {
  display: none;
  margin-top: calc(var(--spacing) * 16);
  width: fit-content;

  @media (width >= 64rem) {
    display: block;
  }

  & > ul > li > a {
    color: var(--color-secondary);
    display: block;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--tracking-relaxed);
    padding-block: calc(var(--spacing) * 2);
    text-transform: uppercase;
    &:hover {
      @media (hover: hover) {
        color: var(--color-accent);
      }
    }
  }
}

/* Main Content Styles */

main {
  margin-top: calc(var(--spacing) * 12);

  @media (width >= 64rem) {
    margin-top: calc(var(--spacing) * 0);
    width: 60%;
  }

  & > .cover {
    background-color: var(--color-primary);
    display: none;
    height: calc(var(--spacing) * 24);
    position: sticky;
    top: 0;
    z-index: 30;
    @media (width >= 64rem) {
      display: block;
    }
  }

  & section {
    margin-bottom: calc(var(--spacing) * 16);
    max-width: 42rem;
    padding-inline: calc(var(--spacing) * 1);
    scroll-margin-top: calc(var(--spacing) * 24);

    & h2 {
      background-color: color-mix(
        in srgb,
        var(--color-primary) 80%,
        transparent
      );
      font-size: var(--text-xl);
      padding-block: calc(var(--spacing) * 5);
      position: sticky;
      top: 0;
      z-index: 20;
      @media (width >= 64rem) {
        top: calc(var(--spacing) * 24);
      }
    }

    & h3 {
      margin-bottom: calc(var(--spacing) * 4);
    }

    & p {
      margin-bottom: calc(var(--spacing) * 4);

      & a {
        font-weight: var(--font-weight-semibold);
      }
    }

    & a {
      display: inline-flex;
      align-items: center;

      &:hover {
        @media (hover: hover) {
          color: var(--color-accent);
        }
      }

      &::after {
        background-image: url("assets/img/external-link.svg");
        background-size: 100%;
        content: "";
        height: calc(var(--spacing) * 5);
        margin-left: calc(var(--spacing) * 1);
        width: calc(var(--spacing) * 5);
      }

      &.no-external-icon::after {
        display: none;
      }
    }

    & > ul > li {
      margin-bottom: calc(var(--spacing) * 4);

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.info-unit {
  & > header {
    color: var(--color-secondary-50);
    font-size: var(--text-xs);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
  }

  & > p {
    font-size: var(--text-sm);
  }
}

.mt-10 {
  margin-top: calc(var(--spacing) * 10);
}

.tech-list {
  display: flex;
  flex-wrap: wrap;

  & > li {
    color: var(--color-accent);
    background-color: color-mix(in srgb, var(--color-accent) 24%, transparent);
    border-radius: 6px;
    font-size: var(--text-xs);
    line-height: calc(var(--spacing) * 5);
    margin-right: calc(var(--spacing) * 2);
    margin-top: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1);
    padding-inline: calc(var(--spacing) * 3);
  }
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 6);

  & > li > img {
    border-color: var(--color-secondary-50);
    border-radius: 6px;
    border-width: 2px;
    height: calc(var(--spacing) * 36);

    &.no-border {
      border-style: none;
    }
  }
}

#projects > ul > li {
  border-bottom: 2px solid;
  border-color: var(--color-secondary-50);
  margin-bottom: calc(var(--spacing) * 8);
  padding-bottom: calc(var(--spacing) * 8);

  &:last-child {
    border-bottom: none;
  }

  & > header {
    margin-bottom: calc(var(--spacing) * 2);
  }

  & > p {
    margin-top: calc(var(--spacing) * 2);
  }
}

#partners > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--spacing) * 6);
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  justify-items: center;
  align-items: center;

  @media (width >= 48rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >= 64rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  & > li {
    overflow: hidden;

    & > a {
      &::after {
        display: none;
      }

      & > img {
        /* Shift the real image out of view and use a drop shadow to replace it */
        filter: drop-shadow(100px 0 0 var(--color-secondary));
        transform: translateX(-100px);
        width: 100px;
      }
    }

    .icon {
      background-image: url("assets/img/sprite.png");
      background-repeat: no-repeat;
      display: block;
      width: 100px;
      height: 100px;
      overflow: hidden;
      filter: grayscale(100%) brightness(1.8);
      transition: filter 0.2s ease;

      &::after {
        display: none;
      }
    }

    .icon--steynsway {
      background-position: -5px -665px;
    }
    .icon--fiveminutes {
      background-position: -5px -115px;
    }
    .icon--shoutem {
      background-position: -5px -335px;
    }
    .icon--sonarflow {
      background-position: -5px -445px;
    }
    .icon--spectralmind {
      background-position: -5px -555px;
    }
    .icon--taskfarm {
      background-position: -5px -775px;
    }
  }
}

#contact .contact li {
  margin-bottom: calc(var(--spacing) * 1);
}

footer {
  font-size: var(--text-sm);
  margin-bottom: calc(var(--spacing) * 8);

  & > hr {
    margin-bottom: calc(var(--spacing) * 4);
    width: calc(var(--spacing) * 16);
  }
}
